/* You can add global styles to this file, and also import other style files */
.title {
    text-align: center;
    padding: 10px;
}

.paginate {
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
    text-align: center;
}

.point {
    cursor: pointer;
}